body {
  margin: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  font-size: 16px;
}

.content {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: None;
  color: #349bdf;
}

h1 {
  font-size: 28px;
}